* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

#wrap {
  width: 100%;
}

#wrap > div > div {
  margin: 0 auto;
  width: 1000px;
  height: 100vh;
}

body {
  background-color: #f1f1f1;
}

/* 메인 */

#main .header {
  position: fixed;
  left: 22%;
  top: 0;
  width: 1100px;
  height: 100px;
  z-index: 9999;
}

#main .logo {
  position: fixed;
  float: left;
  margin: 30px 0 0 0;
  width: 180px;
  height: 0px;
}

#main .logo a {
  color: #ccc;
  transition: all 0.5s;
}

#main .logo a:hover {
  color: #000;
}

#main .nav {
  position: fixed;
  top: 40px;
  left: 970px;
}

#main .nav li {
  float: left;
  margin-right: 50px;
}

#main .nav a {
  font-size: 20px;
  font-weight: 600;
  color: #ccc;
  transition: all 0.5s;
}

#main .nav a:hover {
  color: #000;
}

#main .nav li.on a {
  color: #000;
}

#main .main_imoge {
  float: right;
  margin: 300px 50px 0 0;
  width: 80px;
  height: 80px;
}

#main .main_imoge img {
  width: 80px;
}

#main h2 {
  float: left;
  width: 100%;
  margin: 30px 0 0 0;
  font-size: 50px;
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
}

#main h3 {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 40px;
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
}

#main p {
  float: right;
  margin: 20px 50px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: #ccc;
}

/* line */
.line {
  margin: 0 auto;
  width: 1100px;
  height: 390vh;
  border: 1px solid #f1f1f1;
  border-radius: 35px;
  background-color: #fff;
}

/* 소개 */
#profile {
  width: 100%;
  height: 100vh;
}

#profile .in_profile {
  width: 1000px;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
}

#profile .profile_header {
  float: left;
  padding-left: 100px;
}

#profile .profile_header li {
  float: left;
}

#profile .profile_header img {
  width: 50px;
  padding-top: 10px;
}

#profile .profile_header h2 {
  float: left;
  font-size: 40px;
  font-weight: bold;
  padding: 5px 0 0 15px;
}

#profile .introduce {
  clear: left;
  padding-top: 150px;
  width: 1000px;
  height: 600px;
}

#profile .introduce_in {
  margin-left: 100px;
  float: left;
  width: 400px;
  height: 500px;
  background-color: #f1f1f1;
  border-radius: 30px;
}

#profile .introduce_in ul {
  padding-top: 100px;
}

#profile .introduce_in li {
  padding: 20px 0 0 30px;
  font-size: 20px;
}

#profile .introduce_in a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

#profile .career {
  float: left;
  width: 500px;
  height: 500px;
}

#profile .career ul {
  padding-top: 120px;
  text-align: center;
}

#profile .career li {
  padding-top: 30px;
  font-size: 20px;
}

/* 스킬 */

#skill {
  width: 100%;
  height: 100vh;
}

#skill .skill_header {
  width: 1000px;
  height: 100px;
  padding-left: 100px;
}

#skill .skill_header li {
  float: left;
}

#skill .skill_header img {
  width: 50px;
  padding-top: 10px;
}

#skill .skill_header h2 {
  float: left;
  font-size: 40px;
  font-weight: bold;
  padding: 5px 0 0 15px;
}

#skill .skill_in {
  width: 1000px;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
}

#skill .skill_list {
  margin: 0 auto;
  padding-top: 50px;
  width: 800px;
  height: auto;
}

.skill_list ul {
  width: 800px;
  height: 155px;
  display: flex;
  align-items: center;
}

.skill_list li {
  font-size: 22px;
}

.skill_list ul li:last-child {
  padding-left: 15px;
}

#skill .skill_list img {
  width: 120px;
}

/* 프로젝트 */

#project {
  width: 100%;
  height: 100vh;
}

#project_in {
  width: 1000px;
  height: 100vh;
}

#project .project_header {
  width: 1000px;
  height: 200px;
  padding: 100px 0 0 100px;
  box-sizing: border-box;
}

#project .project_header li {
  float: left;
}

#project .project_header img {
  width: 50px;
  padding-top: 10px;
}

#project .project_header h2 {
  float: left;
  font-size: 40px;
  font-weight: bold;
  padding: 5px 0 0 15px;
}

#project .project_list {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#project .project1 {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  border: 1px solid#f1f1f1;
  border-radius: 15px;
  transition: all 0.5s;
  overflow: hidden;
  text-align: center;
}

#project .project1:hover {
  box-shadow: 10px 10px 5px 5px #a8a8a8;
  border-color: #a8a8a8;
}

#project .project1:hover li {
  color: #000;
}

#project .project1 img {
  width: 350px;
  height: 200px;
}

.project1 ul {
  padding-top: 2%;
}

.project1 li {
  margin-top: 2%;
  color: #c6c6c6;
  transition: all 0.5s;
}

#project .project2 {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  border: 1px solid#f1f1f1;
  border-radius: 15px;
  transition: all 0.5s;
  overflow: hidden;
  text-align: center;
}

#project .project2:hover {
  box-shadow: 10px 10px 5px 5px #a8a8a8;
  border-color: #a8a8a8;
}

#project .project2:hover li {
  color: #000;
}

#project .project2 img {
  width: 350px;
  height: 200px;
}

.project2 ul {
  padding-top: 2%;
}

.project2 li {
  margin-top: 2%;
  color: #c6c6c6;
  transition: all 0.5s;
}

#project .project3 {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  border: 1px solid#f1f1f1;
  border-radius: 15px;
  transition: all 0.5s;
  overflow: hidden;
  text-align: center;
}

#project .project3:hover {
  box-shadow: 10px 10px 5px 5px #a8a8a8;
  border-color: #a8a8a8;
}

#project .project3:hover li {
  color: #000;
}

#project .project3 img {
  width: 350px;
  height: 200px;
}

.project3 ul {
  padding-top: 2%;
}

.project3 li {
  margin-top: 2%;
  color: #c6c6c6;
  transition: all 0.5s;
}

#project .project4 {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  border: 1px solid#f1f1f1;
  border-radius: 15px;
  transition: all 0.5s;
  overflow: hidden;
  text-align: center;
}

#project .project4:hover {
  box-shadow: 10px 10px 5px 5px #a8a8a8;
  border-color: #a8a8a8;
}

#project .project4:hover li {
  color: #000;
}

#project .project4_site a {
  display: block;
  width: 350px;
  height: 200px;
}

#project .project4 img {
  width: 350px;
  height: 200px;
}

.project4 ul {
  padding-top: 2%;
}

.project4 li {
  margin-top: 2%;
  color: #c6c6c6;
  transition: all 0.5s;
}

/* 마무리 */
#end {
  width: 100%;
  height: 100vh;
}

#end .end_header {
  width: 1000px;
  height: 200px;
  padding: 100px 0 0 100px;
  box-sizing: border-box;
}

#end .end_header li {
  float: left;
}

#end .end_header img {
  width: 50px;
  padding-top: 10px;
}

#end .end_header h2 {
  float: left;
  font-size: 40px;
  font-weight: bold;
  padding: 5px 0 0 15px;
}

#end .in_end {
  width: 1000px;
  height: 600px;
  box-sizing: border-box;
}

#end .end_info {
  margin: 0 auto;
  width: 800px;
  height: 550px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #f1f1f1;
}

#end .end_info ul {
  padding: 100px 0 0 30px;
  float: left;
}

#end .end_info li {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}

#end .end_info li:first-child {
  padding-top: 0;
}

#end .end_info a {
  text-decoration: none;
}

#end .end_info a:hover {
  text-decoration: underline;
}

#end .end_info .send_email {
  float: left;
  width: 500px;
  height: 450px;
  margin: 50px 150px 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  background-color: #fff;
}

#form {
  padding-top: 20px;
}

#form input {
  width: 300px;
  height: 25px;
  margin-top: 10px;
}

#form textarea {
  margin-top: 10px;
  width: 300px;
}

#form input:last-child {
  margin-top: 20px;
  width: 100px;
  height: 40px;
}
