* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

#wrap {
  width: 100%;
}

#wrap > div > div {
  margin: 0 auto;
  width: 1000px;
  height: 100vh;
}

body {
  background-color: #f1f1f1;
}

/* 메인 */

#main .header {
  position: fixed;
  left: 22%;
  top: 0;
  width: 1100px;
  height: 100px;
  z-index: 9999;
}

#main .logo {
  position: fixed;
  float: left;
  margin: 30px 0 0 0;
  width: 180px;
  height: 0px;
}

#main .logo a {
  color: #ccc;
  transition: all 0.5s;
}

#main .logo a:hover {
  color: #000;
}

#main .nav {
  position: fixed;
  top: 40px;
  left: 970px;
}

#main .nav li {
  float: left;
  margin-right: 50px;
}

#main .nav a {
  font-size: 20px;
  font-weight: 600;
  color: #ccc;
  transition: all 0.5s;
}

#main .nav a:hover {
  color: #000;
}

#main .nav li.on a {
  color: #000;
}

#main .main_imoge {
  float: right;
  margin: 300px 50px 0 0;
  width: 80px;
  height: 80px;
}

#main .main_imoge img {
  width: 80px;
}

#main h2 {
  float: left;
  width: 100%;
  margin: 30px 0 0 0;
  font-size: 50px;
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
}

#main h3 {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 40px;
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
}

#main p {
  float: right;
  margin: 20px 50px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: #ccc;
}

/* line */
.line {
  margin: 0 auto;
  width: 1100px;
  height: 390vh;
  border: 1px solid #f1f1f1;
  border-radius: 35px;
  background-color: #fff;
}

/* 소개 */
#profile {
  width: 100%;
  height: 100vh;
}

#profile .in_profile {
  width: 1000px;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
}

#profile .profile_header {
  float: left;
  padding-left: 100px;
}

#profile .profile_header li {
  float: left;
}

#profile .profile_header img {
  width: 40px;
  padding-top: 10px;
}

#profile .profile_header p {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0 0 15px;
}

#profile .introduce {
  padding-top: 150px;
  box-sizing: border-box;
}

#profile .introduce_in {
  margin: 0 auto;
  width: 600px;
  height: 300px;
}

#profile .introduce_in h1 {
  font-size: 25px;
  font-weight: bold;
  line-height: 38px;
  padding-left: 30px;
}

#profile .introduce_in p:nth-child(2) {
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  padding-left: 30px;
}

#profile .introduce_in p:nth-child(3) {
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  padding-left: 30px;
}

#profile .career {
  width: 1000px;
  height: 300px;
}

#profile .career_line {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid#ccc;
}

#profile .career_text {
  margin: 0 auto;
  width: 600px;
  height: 300px;
}

#profile .career_text ul {
  padding-top: 40px;
  text-align: center;
}

#profile .career_text li {
  margin-top: 30px;
}

/* 스킬 */

#skill {
  width: 100%;
  height: 100vh;
}

#skill .skill_header {
  width: 1000px;
  height: 200px;
  padding-left: 100px;
}

#skill .skill_header li {
  float: left;
}

#skill .skill_header img {
  width: 40px;
  padding-top: 10px;
}

#skill .skill_header p {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0 0 15px;
}

#skill .skill_in {
  width: 1000px;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
}

#skill .skill_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

#skill .skill_list img {
  width: 150px;
}

/* 프로젝트 */

#project {
  width: 100%;
  height: 100vh;
}

#project_in {
  width: 1000px;
  height: 100vh;
}

#project .project_header {
  width: 1000px;
  height: 200px;
  padding: 100px 0 0 100px;
  box-sizing: border-box;
}

#project .project_header li {
  float: left;
}

#project .project_header img {
  width: 40px;
  padding-top: 10px;
}

#project .project_header p {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0 0 15px;
}

#project .project_list {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 150px;
  left: 0;
  box-sizing: border-box;
}

#project .project1 {
  width: 250px;
  height: 300px;
  border: 1px solid#ccc;
  border-radius: 15px;
  transition: all 0.5s;
  overflow: hidden;
}

#project .project1:hover {
  box-shadow: 10px 10px 5px 5px #a8a8a8;
}

#project .project1 img {
  width: 250px;
  height: 200px;
}

#project .project2 {
  width: 250px;
  height: 300px;
  border: 1px solid#ccc;
  border-radius: 15px;
  transition: all 0.5s;
  overflow: hidden;
}

#project .project2:hover {
  box-shadow: 10px 10px 5px 5px #a8a8a8;
}

#project .project2_site a {
  display: block;
  width: 250px;
  height: 250px;
}

#project .project2 img {
  width: 250px;
  height: 200px;
}

/* 마무리 */
#end {
  width: 100%;
  height: 100vh;
}

#end .end_header {
  width: 1000px;
  height: 200px;
  padding: 100px 0 0 100px;
  box-sizing: border-box;
}

#end .end_header li {
  float: left;
}

#end .end_header img {
  width: 40px;
  padding-top: 10px;
}

#end .end_header p {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0 0 15px;
}

#end .in_end {
  width: 1000px;
  height: 400px;
  padding-left: 150px;
  box-sizing: border-box;
}

#end .end_info {
  width: 700px;
  height: 400px;
  border: 1px solid#a8a8a8;
  border-radius: 20px;
  margin-top: 60px;
}

#end .end_info ul {
  padding: 30px 0 0 30px;
}

#end .end_info li {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}

#end .end_info li:first-child {
  padding-top: 0;
}

#end .end_info a {
  text-decoration: underline;
}

#end .end_comment {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-size: 30px;
  font-weight: bold;
}

/* 퀵메뉴 */

#q_mn {
  position: absolute;
  right: 60px;
  top: 300px;
  z-index: 9999;
  width: 120px;
  height: 200px;
  border-radius: 6px;
  border: 1px solid #a8a8a8;
  background-color: #fff;
}

#q_mn ul.nav {
  margin: 0 auto;
  margin-top: 20px;
  list-style: none;
  width: 50px;
}

#q_mn ul.nav li {
  margin-bottom: 10px;
}

#q_mn ul.nav li a {
  color: #a8a8a8;
  font-weight: 500;
}

#q_mn ul.nav li a:hover {
  color: #000;
}

#q_mn ul.nav li.on a {
  color: rgb(15, 15, 15);
}
